# Virtual store shouldn't be accessible right from the Devices folder otherwise every missing node modules in child packages
# will be directly resolved from the virtual store.
virtual-store-dir=common/node_modules/.pnpm

# Required by some packages transformed by babel and that didn't reference it as a dependency
public-hoist-pattern[]=*babel*

# We don't want locally available packages to be symlinked when not using "workspace:*"
link-workspace-packages=false

strict-peer-dependencies=false
